<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliente_Zodeiaco_WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Cliente_Zodeiaco_WS.Properties.Settings>
            <setting name="Cliente_Zodeiaco_WS_cadastroWS_CadastroWS" serializeAs="String">
                <value>http://localhost:8080/ZodiacoWS/CadastroWS</value>
            </setting>
            <setting name="Cliente_Zodeiaco_WS_CavaleiroOuroWS_CavaleiroOuroWS"
                serializeAs="String">
                <value>http://localhost:8080/ZodiacoWS/CavaleiroOuroWS</value>
            </setting>
        </Cliente_Zodeiaco_WS.Properties.Settings>
    </applicationSettings>
</configuration>